{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <div class="mx-3 my-3">
                <div class="d-flex flex-column">
                    <h3 class="align-self-center">{{ title }}</h3>
                </div>    
                <table id="brr-table" class="table table-primary table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center col-narrow hide-xs" data-sort="id" data-type="number" scope="col">ID <span class="sort-icon">↕</span></th>
                            <th class="col-game" data-sort="game" data-type="string" scope="col">Game <span class="sort-icon">↕</span></th>
                            <th class="col-title" data-sort="title" data-type="string" scope="col">Name <span class="sort-icon">↕</span></th>
                            <th class="text-center col-narrow" data-sort="occurences" data-type="number" scope="col">Occurences <span class="sort-icon">↕</span></th>
                            <th class="text-center hide-md" data-sort="size" data-type="number" scope="col">Size <span class="sort-icon">↕</span></th>
                            <th class="text-center hide-md" data-sort="loop" data-type="number" scope="col">Loop <span class="sort-icon">↕</span></th>
                            <th class="text-center hide-md" data-sort="envelope" data-type="number" scope="col">Envelope <span class="sort-icon">↕</span></th>
                            <th class="text-center hide-md" data-sort="pitch" data-type="number" scope="col">Pitch <span class="sort-icon">↕</span></th>
                            <th class="text-center hide-sm" scope="col">BRR</th>
                        </tr>
                    </thead>
                    <tbody id="brr-entries"></tbody>
                </table>
            </div>
        </main>
        {% include 'footer.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>