{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <div class="d-flex justify-content-center mt-2">
                <h3 id="pageTitle">Playable Characters</h3>
            </div>
            <div class="mx-3 mt-3">
                <div id="gallery" class="d-flex justify-content-center flex-wrap">
                    {%- for element in elements -%}
                        <div class="d-flex flex-column align-items-center mb-2 npc-img-div mx-3">
                            <div class="mt-auto">
                                <a href="characters/{{ element.id }}.html">
                                    <img src="characters/portraits/{{ element.id }}.png"/>
                                </a>
                            </div>
                            <div>{{ element.id }}</div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
        {% include 'publicscripts.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>