{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Credits</h2>
                            <p class="lead text-center">These are the people who have contributed to the Return of the Dark Sorcerer content on this website and to the website project.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Music</h2>
                            <ul class="list-unstyled text-center lead">
                                <li>Gi Nattak</li>
                                <li>emberling</li>
                                <li>Jackimus</li>
                                <li>tsushiy</li>
                                <li>JCE3000GT</li>
                                <li>MetroidQuest</li>
                                <li>Cecil188</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Sprites</h2>
                            <ul class="list-unstyled text-center lead">
                                <li>Monsterinabox.INC</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Strategy guide</h2>
                            <ul class="list-unstyled text-center lead">
                                <li>LunaticScreamer</li>
                                <li>Gi Nattak</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">World maps design</h2>
                            <ul class="list-unstyled text-center lead">
                                <li>Lockirby</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Coding</h2>
                            <ul class="list-unstyled text-center lead">
                                <li>madsiur (assets extraction and webpages creation)</li>
                                <li>emberling (mfvitools)</li>
                                <li>telinc1 (smwcentral spc player)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Links</h2>
                            <div class="d-flex flex-column align-items-center lead">
                                <a href="https://github.com/madsiur/rotds-website" class="text-dark text-center">RotDS website Github repository</a>
                                <a href="https://www.ff6hacking.com/forums/forum-54.html" class="text-dark text-center">RotDS sub-forum</a>
                                <a href="https://www.ff6hacking.com/wiki/doku.php?id=ff3:ff3us:hacks:rotds" class="text-dark text-center">RotDS wiki page</a>
                                <a href="https://romhack.ing/database/content/entry/W9Nu5JQBNs8FWu0CiWYR" class="text-dark text-center">RotDS on RHDI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include 'footer.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>