{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <div class="d-flex justify-content-center guide-container">
                <div class="d-flex flex-column guide-div ps-4 pe-4 pb-4 my-4 border border-dark border-2">
                    <div class="d-flex flex-column mt-3">
                        <h3 class="align-self-center">Strategy Guide</h3>
                    </div>
                    <p>This is the strategy guide for Return of the Dark Sorcerer 2.11 by LunaticScreamer, with additional writing and insight by the project lead and main hacker Gi Nattak.</p>
                    <h5>World of Balance</h5>
                    <ul id="wob-toc" class="list-style">
                    {%- for part in guide_parts -%}
                        {%- if part.toc == 1 -%}
                            <li><a href="guide/part-{{ part.id }}.html" class="link-primary">Part {{ part.id }}: {{ part.title }}</a></li>
                        {%- endif -%}
                    {%- endfor -%}
                    </ul>
                    <h5>World of Ruin</h5>
                    <ul id="wor-toc" class="list-style">
                    {%- for part in guide_parts -%}
                        {%- if part.toc == 2 -%}
                            <li><a href="guide/part-{{ part.id }}.html" class="link-primary">Part {{ part.id }}: {{ part.title }}</a></li>
                        {%- endif -%}
                    {%- endfor -%}
                    </ul>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
        {% include 'publicscripts.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>