{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <div class="d-flex justify-content-center mt-2 mx-2">
                <img class="img-fluid align-self-center" src="media/rotds.png" alt="Return of the Dark Sorcerer"/>
            </div>
            <section class="description py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">About Return of the Dark Sorcerer</h2>
                            <p class="lead text-center">
                                Return of the Dark Sorcerer is an incredibly large fan-made Final Fantasy 6 modification that’s been in development since around 2010. Originally the brainchild of Gi Nattak, the project has evolved over the years thanks to a dedicated team and other skilled members of the FF6 romhacking community.
                            </p>
                            <p class="lead text-center">
                                This mod promises to showcase some of the challenging aspects of FF6 romhacking, as well as plenty of fun and exciting new content; from an all new cast of playable characters with customized movesets, a radically changed story with many new and edited events, new overworld maps, a new musical soundtrack, difficulty selection, new battle scripts for monsters & bosses, and an absolute ton of custom monster/esper and NPC sprites.
                            </p>
                            <p class="lead text-center">
                                It is a highly personalized modification of the original game and therefore naturally won’t appeal to everyone. It’s not a sequel, or a prequel, or a remake to FF6, it is quite simply a massive amalgamation mod and customization of FF6 which does contain a whole bunch of references and can be rather nonsensical or even immersion-breaking at times… but if you go into it prepared for this, you should have a much more enjoyable experience. That being said, a whole lot of time and energy has gone into this project and we are quite pleased with the result.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">Patch Information</h2>
                            <table class="table table-striped mt-3">
                                <tbody>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-dark border-1">Download</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-dark border-1"><a href="https://www.ff6hacking.com/patches/rotds/FFVI_ROTDS.7z" class="link-primary">FFVI_ROTDS.7z</a></td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-b border-start border-end border-top border-dark border-1">Readme/Credits</td>
                                        <td class="py-1 ps-2 pe-1 row-b border-end border-top border-dark border-1"><a href="https://www.ff6hacking.com/patches/rotds/readme_credits.txt" class="link-primary">readme_credits.txt</a></td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-dark border-1">Patch version</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-dark border-1">2.9.8</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-dark border-1">Release date</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-dark border-1">February 24th, 2024</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-dark border-1">Author</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-dark border-1">Gi Nattak</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-b border-start border-end border-top border-bottom border-dark border-1">Patch type</td>
                                        <td class="py-1 ps-2 pe-1 row-b border-end border-top border-bottom border-dark border-1">IPS, for headered (h) or unheadered (nh) ROM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="display-5 text-center">ROM Information</h2>
                            <table class="table table-striped mt-3">
                                <tbody>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-dark border-1">Name</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-dark border-1">Final Fantasy III 1.0 (USA)</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-b border-start border-end border-top border-dark border-1">CRC32 (unheadered ROM)</td>
                                        <td class="py-1 ps-2 pe-1 row-b border-end border-top border-dark border-1">A27F1C7A</td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 ps-2 pe-1 row-a border-start border-end border-top border-bottom border-dark border-1">SHA-1 (unheadered ROM)</td>
                                        <td class="py-1 ps-2 pe-1 row-a border-end border-top border-bottom border-dark border-1">4F37E4274AC3B2EA1BEDB08AA149D8FC5BB676E7</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include 'footer.html' %}
        {% include 'publicscripts.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>