    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ levels }}home.html">Return of the Dark Sorcerer</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}ost-a.html">OST A</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}ost-b.html">OST B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}optional-songs.html">Optional Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}sfx.html">SFX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}brr.html">BRR Samples</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-monsters" class="nav-link" href="{{ levels }}monsters-1.html">Monsters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}items.html">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}characters.html">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}npcs.html">NPCs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}guide.html">Strategy Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}maps.html">World Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ levels }}credits.html">Credits</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>