{% include 'header.html' %}
    <body class="page-color d-flex flex-column h-100">
        {% include 'menu.html' %}
        <main class="flex-grow-1">
            <div class="d-flex justify-content-center mt-2">
                <h3 id="pageTitle">NPCs</h3>
            </div>
            <div class="gallery-container">
                <div id="npcGallery" class="d-flex justify-content-center flex-wrap">
                    {% for npc in npcs %}
                        <div class="d-flex flex-column align-items-center mb-2 mx-2">
                            <div class="mt-auto">
                                <img src="npcs/{{ npc.img_name }}"></img>
                            </div>
                            <div>{{ npc.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
        {% include 'publicscripts.html' %}
        {% include 'scripts.html' %}
        {% include 'monsterspage.html' %}
    </body>
</html>