<div id="btns-sprites-gallery" class="d-flex justify-content-center my-3">
    <a type="button" href="#" class="btn btn-dark me-1" data-nav="prev">← Previous</a>
    <a type="button" href="#" class="btn btn-dark mx-1" data-cat="full_sheets">Full Sheets</a>
    <a type="button" href="#" class="btn btn-dark mx-1" data-cat="npcs">NPCs</a>
    <a type="button" href="#" class="btn btn-dark mx-1" data-cat="static_sprites">Static Sprites</a>
    <a type="button" href="#" class="btn btn-dark mx-1" data-cat="objects">Objects</a>
    <a type="button" href="#" class="btn btn-dark mx-1" data-nav="next">Next →</a>
</div>