<div class="d-flex justify-content-center character-container">
    <div class="d-flex flex-column border border-dark border-2 character-div px-2 pt-0 pb-3 my-2 mx-2">
        <div class="d-flex flex-column mt-3">
            <h3 class="align-self-center"><%- character.name %></h3>
        </div>
        <div class="d-flex flex-column">
            <div id="char-table" class="container">
                <div class="row justify-content-center">
                    <div class="col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1 pt-1 pb-0 ps-1 pe-0 row-special border border-end-0 border-dark border-2">
                        <img alt="<%- character.id %>" class="img-fluid" src="characters/portraits/<%- character.id %>.png"/>
                    </div>
                    <div class="col-9 col-sm-10 col-md-11 col-lg-11 col-xl-7 col-xxl-7 py-1 px-1 row-special border border-start-0 border-dark border-2"><%- character.description %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Might:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.might %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">Speed:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.speed %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-start border-bottom border-dark border-2">Stamina:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.stamina %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-bottom border-dark border-2">Run Success:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.run_success %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Battle Power:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.battle_power %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">Magic Power:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.magic_power %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-start border-bottom border-dark border-2">Defense:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.defense %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-bottom border-dark border-2">Magic Defense:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.magic_defense %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Evade:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.evade %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">MBlock:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.mblock %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-start border-bottom border-dark border-2">Age:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.age %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-bottom border-dark border-2">Height:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.height %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Weight:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.weight %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">Zodiac:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.zodiac %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-start border-bottom border-dark border-2">Blood Type:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.blood_type %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-bottom border-dark border-2">Hometown:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.hometown %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Likes:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.likes %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">Dislikes:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.dislikes %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-start border-bottom border-dark border-2">Treasure:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.treasure %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-bottom border-dark border-2">Weapons:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.weapons %></div>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-b border-start border-bottom border-dark border-2">Class:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-b border-end border-bottom border-dark border-2 text-end"><%- character.class %></div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-2 pe-1 row-a border-bottom border-dark border-2">Desperation Attack:</div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2 py-1 ps-1 pe-2 row-a border-end border-bottom border-dark border-2 text-end"><%- character.desperation_attack %></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-8 py-1 px-2 character-desc-row-special border-start border-end border-bottom border-dark border-2">
                        Special Ability: <%- character.ability_name %>. <%- character.ability_desc %>
                    </div>
                </div>
            </div>
        </div>
    <% if (character.prev_id != -1 && character.next_id != -1) { %>
        <div id="btns-prev-next" class="d-flex justify-content-between">
    <% } else { %>
        <% if (character.prev_id == -1) { %>
            <div id="btns-prev-next" class="d-flex justify-content-end">
        <% } %>
        <% if (character.next_id == -1) { %>
            <div id="btns-prev-next" class="d-flex justify-content-start">
        <% } %>
    <% } %>
            <% if (character.prev_id != -1) { %>
                <button class="btn btn-dark" data-id="<%- character.prev_id %>">🠜 <%- prev_name %></button>
            <% } %>
            <% if (character.next_id != -1) { %>
                <button class="btn btn-dark" data-id="<%- character.next_id %>"><%- next_name %> 🠞</button>
            <% } %>
            </div>
    </div>
</div>