<div class="d-flex justify-content-center guide-container">
    <div class="d-flex flex-column guide-div border border-dark border-2 ps-4 pe-4 pb-4 my-4">
        <div class="d-flex flex-column mt-3">
            <h3 id="page-title" class="align-self-center"></h3>
<% if (prev_page != -1 && next_page != -1) { %>
        <div id="btns-prev-next-top" class="d-flex justify-content-between">
<% } else { %>
    <% if (prev_page == -1) { %>
        <div id="btns-prev-next-top" class="d-flex justify-content-end">
    <% } %>
    <% if (next_page == -1) { %>
        <div id="btns-prev-next-top" class="d-flex justify-content-start">
    <% } %>
<% } %>
    <% if (prev_page != -1) { %>
            <button class="btn btn-dark" data-page="<%- prev_page %>"  role="button">🠜 Previous part</button>
    <% } %>
    <% if (next_page != -1) { %>
            <button class="btn btn-dark" data-page="<%- next_page %>"  role="button">Next part 🠞</button>
    <% } %>
        </div>
        </div>
        <div id="render-page" class="d-flex flex-column guide-content text-justify"></div>
<% if (prev_page != -1 && next_page != -1) { %>
        <div id="btns-prev-next-bottom" class="d-flex justify-content-between">
<% } else { %>
    <% if (prev_page == -1) { %>
        <div id="btns-prev-next-bottom" class="d-flex justify-content-end">
    <% } %>
    <% if (next_page == -1) { %>
        <div id="btns-prev-next-bottom" class="d-flex justify-content-start">
    <% } %>
<% } %>
    <% if (prev_page != -1) { %>
            <button class="btn btn-dark" data-page="<%- prev_page %>"  role="button">🠜 Previous part</button>
    <% } %>
    <% if (next_page != -1) { %>
            <button class="btn btn-dark" data-page="<%- next_page %>"  role="button">Next part 🠞</button>
    <% } %>
        </div>
    </div>
</div>