<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="https://www.ff6hacking.com/forums/forum-54.html">Return of the Dark Sorcerer</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="ost.html">OST A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ostb.html">OST B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="optional.html">Optional Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sfx.html">SFX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="brr.html">BRR Samples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="monsters.html">Monsters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="characters.html">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="npcs.html">NPCs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guide.html">Strategy Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="credits.html">Credits</a>
                </li>
            </ul>
        </div>
    </div>
</nav>