<div class="d-flex justify-content-center mt-2">
    <h3>Monster Gallery</h3>
</div>
<div class="mx-3 mt-3">
    <div id="btns-mons-top" class="d-flex justify-content-center my-3">
        <button type="button" data-page="1" class="btn btn-dark me-1">1</button>
        <button type="button" data-page="2" class="btn btn-dark mx-1">2</button>
        <button type="button" data-page="3" class="btn btn-dark mx-1">3</button>
        <button type="button" data-page="4" class="btn btn-dark mx-1">4</button>
        <button type="button" data-page="5" class="btn btn-dark ms-1">Espers</button>
    </div>
    <div id="page-gallery" class="d-flex justify-content-center flex-wrap">
    <% _(sub_array).each(function(entity) { %>
        <% if(entity.is_monster) { %>
            <div data-index="<%- entity.index %>" class="d-flex flex-column align-items-center mb-2 mx-2 mons-img-div">
                <div class="mt-auto">
                    <a class="" href="monsdetail.html">
                        <img src="monsters/<%- entity.filename %>.png"/>
                    </a>  
                </div>
                <div><%- entity.name %></div>
            </div>
        <% } else { %>
            <div class="d-flex flex-column align-items-center mb-2 mx-2 mons-img-div">
                <div class="mt-auto">
                    <img src="monsters/<%- entity.filename %>.png"/>
                </div>
                <div><%- entity.name %></div>
            </div>
        <% } %>
    <% }) %>
    </div>
    <div id="btns-mons-bottom" class="d-flex justify-content-center my-3">
        <button type="button" data-page="1" class="btn btn-dark me-1">1</button>
        <button type="button" data-page="2" class="btn btn-dark mx-1">2</button>
        <button type="button" data-page="3" class="btn btn-dark mx-1">3</button>
        <button type="button" data-page="4" class="btn btn-dark mx-1">4</button>
        <button type="button" data-page="5" class="btn btn-dark ms-1">Espers</button>
    </div>
</div>