.patcher-card {
    max-width: 600px;
    background-color: #c5d7f2;
    margin: 0 auto;
    border: solid 1px #212529
}

.patcher-card .card-body {
    color: #212529;
}

.patcher-card .form-label {
    color: #212529;
}

.patcher-card .form-control {
    border-color: #212529;
    font-size: 13px;
}

.patcher-card .form-control:focus {
    border-color: #212529;
    box-shadow: none;
    outline: none;
}

.patcher-card #patchFile {
    border-color: #212529;
    font-size: 13px;
}

.patcher-card #patchFile:focus {
    border-color: #212529;
    box-shadow: none;
    outline: none;
}

.patcher-card #btnRomUpload {
    background: #e8e8e8;
    color: #181b1f;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 1px solid #181b1f;
    border-top: 1px solid #181b1f;
    border-bottom: 1px solid #181b1f;
    border-right: 0;
}

.patcher-card #romFileName {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#categories {
    max-width: 600px;
    margin: 0 auto;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.category-header {
    background-color: #212529;
    color: #b8b8b8;
}

.category-content {
    background-color: #c5d7f2;
    border: 1px solid #212529;
}

.patch-selector {
    min-width: 250px;
    border: 1px solid #212529;
    background-color: #bbcbe6;
}

.btn-patch-card {
    min-width: 160px;
    max-width: 160px;
}

[data-selected="true"] {
    background-color: var(--bs-success);
}

.descOverlayContent {
    width: 566px;
    height: 502px;
    background: linear-gradient(to bottom, #bbcbe6 0%, #f0f0ff 25%, #f0f0ff 75%, #bbcbe6 100%);
    border: 3px solid #212529;
    border-radius: 8px;
    position: relative;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.descOverlay {
    position: fixed;
    inset: 0;
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}

.descContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.previewImage {
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}
