.page-color {
    background-color: #acbfe0;
}

.text-justify {
    text-align: justify;
}

.guide-container {
    min-width: 384px;
    width: 100%;
}
.guide-div {
    min-width: 380px;
    max-width: 1062px;
    background-color: #bbcbe6;
}

.guide-content img {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}

.guide-content h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.play-img {
    width: 20px;
    height: 20px;
    fill: #212529
}

.play-button {

    background: transparent;
    border: none !important;
    font-size:0;
    display: block;
    margin: auto;
}

.mons-img-div {
    height: 150px;
}

.nav-container {
    min-width: 360px;
    width: 100%;
}

.page-div {
    min-width: 50%;
    width: 97%;
    max-width: 100%;
    background-color: #bbcbe6;
}

.char-table {
    min-width: 90vw;
    width: 90vw;
    max-width: 100vw;
}

.character-desc-row-special {
    background-color: #8494ad;
}

.character-desc-row-a {
    background-color: #a4b4cd;
}

.character-desc-row-b {
    background-color: #b4c4dd;
}

@media (min-width: 300px) {
    table#monster-table {
      font-size: 0.67rem;
    }
}

@media (min-width: 400px) {
    table#monster-table {
      font-size: 0.72rem;
    }
}

@media (min-width: 600px) {
    table#monster-table {
      font-size: 0.79rem;
    }
}

@media (min-width: 900px) {
    table#monster-table {
      font-size: 0.85rem;
    }
}

@media (min-width: 1200px) {
    table#monster-table {
      font-size: 0.90rem;
    }
}

@media (min-width: 1600px) {
    table#monster-table {
      font-size: 1rem;
    }
}

@media (min-width: 300px) {
    div#char-table {
      font-size: 0.72rem;
    }
}

@media (min-width: 400px) {
    div#char-table {
      font-size: 0.76rem;
    }
}

@media (min-width: 600px) {
    div#char-table {
      font-size: 0.81rem;
    }
}

@media (min-width: 900px) {
    div#char-table {
      font-size: 0.87rem;
    }
}

@media (min-width: 1200px) {
    div#char-table {
      font-size: 0.92rem;
    }
}

@media (min-width: 1600px) {
    div#char-table {
      font-size: 1rem;
    }
}

table#monster-table td.row-a,
table#item-table td.row-a,
div#char-table div > div.row-a {
    background-color: #a4b4cd;
}

table#monster-table td.row-b,
table#item-table td.row-a,
div#char-table div > div.row-b {
    background-color: #b4c4dd;
}

table#monster-table td.row-special,
table#item-table th.row-special,
table#item-table td.row-special,
div#char-table div > div.row-special {
    background-color: #8494ad;
}


div#btns-mons-gallery a.btn-dark,
div#btns-prev-next a.btn-dark,
div#btns-maps button.btn-dark,
div#btns-diff button.btn-dark {
    border-radius: 0%;
}

div#btns-mons-gallery a.btn-secondary,
div#btns-prev-next a.btn-secondary,
div#btns-maps button.btn-secondary,
div#btns-diff button.btn-secondary {
    border-radius: 0%;
}

div#char-table.container,
table#monster-table.container {
    padding-left: 5px;
    padding-right: 5px;
}