.page-color {
    background-color: #acbfe0;
}

.text-justify {
    text-align: justify;
}

.guide-container {
    min-width: 384px;
    width: 100%;
}
.guide-div {
    min-width: 380px;
    max-width: 1062px;
    background-color: #bbcbe6;
}

.guide-content img {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 50%;
    max-width: 100%;
    height: auto;
}

.guide-content h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.play-img {
    width: 20px;
    height: 20px;
    fill: #212529
}

.play-button {

    background: transparent;
    border: none !important;
    font-size:0;
    display: block;
    margin: auto;
}

.mons-img-div {
    height: 150px;
}

.character-container {
    min-width: 360px;
    width: 100%;
}

.character-div {
    min-width: 50%;
    width: 96%;
    max-width: 100%;
    background-color: #bbcbe6;
}

.character-desc-row-special {
    background-color: #8494ad;
}

.character-desc-row-a {
    background-color: #a4b4cd;
}

.character-desc-row-b {
    background-color: #b4c4dd;
}