.page-color {
    background-color: #ced4da;
}

.page-title {
    margin-top: 4px;
    margin-bottom: 2px;
}

.credits-div {
    margin-left: 8px;
}

.play-img {
    width: 20px;
    height: 20px;
    fill: #212529
}

.play-button {

    background: transparent;
    border: none !important;
    font-size:0;
    display: block;
    margin: auto;
}

.table-nonfluid {
    width: auto !important;
 }